{% extends 'layoutEmail.html.twig' %}
{% block body %}
<div width="100%">
	<img src="http://www.apside.com/wp-content/themes/apside_corporate/img/commun/header/apside_logo.png">
</div>
<div>
	<h3>Mail de rappel: Enquête individuel</h3>
</div>

<div>
	<p>Bonjour {{ name }},</p>

	<p>
	A priori tu n'as pas encore rempli l'enquête mis à ta disposition
	sur le site APcarriere.</p>
	<p>
		Merci de le remplir rapidement, afin que nous puissions
	programmer un entretien ensemble.
	</p>

	<p>Cordialement,</p>

	<p>L'équipe du Staff APSIDE Top,</p>
</div>
{% endblock %}
