{% extends 'layoutEmail.html.twig' %}

{% block body %}
<div width="100%">
	<img src="http://www.apside.com/wp-content/themes/apside_corporate/img/commun/header/apside_logo.png">
</div>
<div>		
	<h3>Mail de rappel: Augmentation</h3>
</div>
<div>
	<p>Bonjour,</p>			
	<p>
	Le collaborateur {{ user }} a reçu une augmentation de {{ request1.0 }} € prenant effet le  {{date}}  
	</p>
	
	<p>Cordialement,</p>
					
	<p>L'équipe du Staff APSIDE Top,</p>
</div>
{% endblock %}