Bonjour {{ name }},
<br/>

Vous avez été inscrit sur le site de APcarriere <br/>

Votre identifiant est votre email {{email}}.<br/>

Veuillez saisir votre mot de passe <strong>123456</strong> et le changer dans le menu en haut à droite.<br/>

Cordialement,<br/>

L'Equipe d'Apside top.
