{% extends 'layoutEmail.html.twig' %}

{% block body %}
<div width="100%">
	<img src="http://www.apside.com/wp-content/themes/apside_corporate/img/commun/header/apside_logo.png">
</div>
<div>
	<h3>Le collaborateur n'a pas souhaité remplir l'enquête.</h3>
</div>
<div>
	<p>Bonjour,</p>
	<p>
	L'enquête du collaborateur {{prenom}} {{nom}} n'a pas été remplie.
	</p>
  <p>
    Il ne souhaite pas avoir d'entretien pour ce motif:
  </p>
  <p>
  <strong>{{refusMessage}}</strong>
  </p>


	<p>Cordialement,</p>

	<p>L'équipe du Staff APSIDE Top,</p>
</div>
{% endblock %}
