{% extends 'layoutEmail.html.twig' %}

{% block body %}
<div width="100%">
	<img src="http://www.apside.com/wp-content/themes/apside_corporate/img/commun/header/apside_logo.png">
</div>
<div>
	<h3>L'enquête a bien été remplie.</h3>
</div>
<div>
	<p>Bonjour,</p>
	<p>
	L'enquête du collaborateur {{prenom}} {{nom}} est désormais à votre disposition.
	</p>
	<p>Vous pouvez planifier l'entretien!</p>

	<p>Cordialement,</p>

	<p>L'équipe du Staff APSIDE Top,</p>
</div>
{% endblock %}
