{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<a href="{{path('collab')}}" type="button" class="btn btn-default">Retour</a>

<form method="post" action="{{path('refus')}}">
    <input type="text" name="message" required/>
    <input class="btn btn-success" name="submit" type="submit" value="Refuser l'entretien" />
</form>

{% endblock %}
