{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid">

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-default" type="button" href="{{ path('homepage') }}">Retour</a>
        </div>
    </div>
    <div class="row">

    <div class="col-md-offset-2 col-md-8">
        <table class="table table-hover">
            <caption>Enquête du {{ surveydetail.surveydate|date('d-m-Y') }}</caption>

            <tr>
                <th>Questions</th>
                <th>Notes</th>
                <th>Commentaires</th>
            </tr>

            <tr>
                <td>Durée en mission</td>
                <td>{{ surveydetail.dureemission }}</td>
                <td>{{ surveydetail.dureemissioncom }}</td>
            </tr>
            <tr>
                <td>Adéquation carrière/souhaits</td>
                <td>{{ surveydetail.carrieresouhait }}</td>
                <td>{{ surveydetail.carrieresouhaitcom }}</td>
            </tr>
            <tr>
                <td>Relationnel équipe client</td>
                <td>{{ surveydetail.equipeClient }}</td>
                <td>{{ surveydetail.equipeClientcom }}</td>
            </tr>
            <tr>
                <td>Relationnel Chef de projet</td>
                <td>{{ surveydetail.chefprojet }}</td>
                <td>{{ surveydetail.chefprojetcom }}</td>
            </tr>
            <tr>
                <td>Intérêt technique</td>
                <td>{{ surveydetail.intTech }}</td>
                <td>{{ surveydetail.intTechcom }}</td>
            </tr>
            <tr>
                <td>Intérêt fonctionnel</td>
                <td>{{ surveydetail.intFonct }}</td>
                <td>{{ surveydetail.intFonctcom }}</td>
            </tr>
            <tr>
                <td>Site géographique</td>
                <td>{{ surveydetail.siteGeo }}</td>
                <td>{{ surveydetail.siteGeocom }}</td>
            </tr>
            <tr>
                <td>Déplacements, horaires, productivité, astreintes</td>
                <td>{{ surveydetail.deplHorair }}</td>
                <td>{{ surveydetail.deplHoraircom }}</td>
            </tr>
            <tr>
                <td>Sentiment global</td>
                <td>{{ surveydetail.globalmi }}</td>
                <td>{{ surveydetail.globalmicom }}</td>
            </tr>
            <tr>
                <td>Évolutions missions/ Commentaires</td>
                <td></td>
                <td>{{ surveydetail.commentsmi }} / {{ surveydetail.evolutionLast }}</td>
            </tr>


            <tr>
                <td>Relation avec la structure</td>
                <td>{{ surveydetail.relStructure }}</td>
                <td>{{ surveydetail.relStructurecom }}</td>
            </tr>
            <tr>
                <td>Écoute des besoins/remarques</td>
                <td>{{ surveydetail.ecouteBesoin }}</td>
                <td>{{ surveydetail.ecouteBesoincom }}</td>
            </tr>
            <tr>
                <td>Perception de la stratégie de développement</td>
                <td>{{ surveydetail.strategieDev }}</td>
                <td>{{ surveydetail.strategieDevcom }}</td>
            </tr>
            <tr>
                <td>Politique salariale</td>
                <td>{{ surveydetail.politicSalarial }}</td>
                <td>{{ surveydetail.politicSalarialcom }}</td>
            </tr>
            <tr>
                <td>Esprit d'entreprise</td>
                <td>{{ surveydetail.espritEnt }}</td>
                <td>{{ surveydetail.espritEntcom }}</td>
            </tr>
            <tr>
                <td>Transparence de l'information</td>
                <td>{{ surveydetail.transparence }}</td>
                <td>{{ surveydetail.transparencecom }}</td>
            </tr>
            <tr>
                <td>Politique de l'information</td>
                <td>{{ surveydetail.politicInfo }}</td>
                <td>{{ surveydetail.politicInfocom }}</td>
            </tr>
            <tr>
                <td>Sentiment global</td>
                <td>{{ surveydetail.globalap }}</td>
                <td>{{ surveydetail.globalapcom }}</td>
            </tr>
            <tr>
                <td>Commentaires supplémentaires</td>
                <td></td>
                <td>{{ surveydetail.commentsap }}</td>

            </tr>

        </table>

    </div>
</div>
{% endblock %}
