<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}APcarrière{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">

            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link rel="stylesheet" href="{{ asset("css/stylesheet.css") }}">
            <link rel="stylesheet" href="{{ asset("css/font-awesome.css") }}">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{asset("jquery-bar-rating/dist/themes/fontawesome-stars.css")}}">

        {% endblock %}

    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('collab')}}"><img class="logo" src="{{ asset("img/Apside.png") }}" alt="logo Apside Top"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if app.user.username is defined %}
              <li>
                <a title="Archives" id="archives" data-toggle="modal" data-target="#myModal5">
                  <img src="{{asset("img/363.png")}}">
                </a>
              </li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user.username is defined %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                  {{ app.user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                  <li><a href="{{ path('fos_user_change_password')}}">Changer de mot de passe</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{asset("jquery-bar-rating/dist/jquery.barrating.min.js")}}"></script>
        <script type="text/javascript">
        $(function() {
          $('.rating').barrating({
            theme: 'fontawesome-stars'
          });

        });
        </script>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous">
            </script>

        {% endblock %}
    </body>
</html>
