{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">

    {{ form_start(form) }}
    <div class="row">

        {# partie Mission #}
        <div class="col-md-6">
            <h2>Mission</h2>
            
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.dureemission, 'Durée en mission' ) }}
                    {{ form_errors(form.dureemission) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.dureemission) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.dureemissioncom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.carriereSouhait, 'Adéquation carrière/souhaits' ) }}
                    {{ form_errors(form.carriereSouhait) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.carriereSouhait) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.carriereSouhaitcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.equipeClient, 'Relationnel équipe client' ) }}
                    {{ form_errors(form.equipeClient) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.equipeClient) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.equipeClientcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.chefprojet, 'Relationnel Chef de projet' ) }}
                    {{ form_errors(form.chefprojet) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.chefprojet) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.chefprojetcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.intTech, 'Intérêt technique' ) }}
                    {{ form_errors(form.intTech) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.intTech) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.intTechcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.intFonct, 'Intérêt fonctionnel' ) }}
                    {{ form_errors(form.intFonct) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.intFonct) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.intFonctcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.siteGeo, 'Site géographique' ) }}
                    {{ form_errors(form.siteGeo) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.siteGeo) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.siteGeocom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.deplHorair, 'Déplacements, horaires, productivité, astreintes' ) }}
                    {{ form_errors(form.deplHorair) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.deplHorair) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.deplHoraircom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.globalmi, 'Sentiment global' ) }}
                    {{ form_errors(form.globalmi) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.globalmi) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.globalmicom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.evolutionLast, 'Indiquer les évolutions missions' ) }}
                    {{ form_errors(form.evolutionLast) }}
                </div>
                <div class="col-md-8 comment">
                    {{ form_widget(form.evolutionLast) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.commentsmi, 'Commentaires supplémentaires' ) }}
                    {{ form_errors(form.commentsmi) }}
                </div>
                <div class="col-md-8 comment">
                    {{ form_widget(form.commentsmi) }}
                </div>
            </div>
        </div>

        {# partie Apside #}
        <div class="col-md-6">
            <h2>Apside et Vous</h2>
            <div class="row">

                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.relStructure, 'Relation avec la structure' ) }}
                    {{ form_errors(form.relStructure) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.relStructure) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.relStructurecom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.ecouteBesoin, 'Écoute des besoins/remarques' ) }}
                    {{ form_errors(form.ecouteBesoin) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.ecouteBesoin) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.ecouteBesoincom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.strategieDev, 'Perception de la stratégie de développement' ) }}
                    {{ form_errors(form.strategieDev) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.strategieDev) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.strategieDevcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.politicSalarial, 'Politique salariale' ) }}
                    {{ form_errors(form.politicSalarial) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.politicSalarial) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.politicSalarialcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.espritEnt, 'Esprit d\'entreprise' ) }}
                    {{ form_errors(form.espritEnt) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.espritEnt) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.espritEntcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.transparence, 'Transparence de l\'information' ) }}
                    {{ form_errors(form.transparence) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.transparence) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.transparencecom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.politicInfo, 'Politique de l\'information' ) }}
                    {{ form_errors(form.politicInfo) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.politicInfo) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.politicInfocom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.globalap, 'Sentiment global' ) }}
                    {{ form_errors(form.globalap) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(form.globalap) }}
                </div>
                <div class="col-md-5 comment">
                    {{ form_widget(form.globalapcom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3 question">
                    {{ form_label(form.commentsap, 'Commentaires supplémentaires' ) }}
                    {{ form_errors(form.commentsap) }}
                </div>
                <div class="col-md-8 comment">
                    {{ form_widget(form.commentsap) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
