{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">

    <div id="cloud-intro">
        <div class="titleRegistration">
            <h1>Enregistrer un nouveau collaborateur</h1>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.nom) }}
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.nom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.prenom) }}
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.prenom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.agence) }}
                            {{ form_errors(form.agence) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.agence) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.username, 'Pseudo') }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.startdate, 'Date d\'entrée') }}
                            {{ form_errors(form.startdate) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.startdate)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.plainPassword.first, 'Mot de passe') }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.plainPassword.first) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.plainPassword.second, 'Répéter le mote de passe') }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.plainPassword.second) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-3">
                            <input class="btn btn-success" type="submit" value="S'enregistrer"/>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
