
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-4 col-md-3"


            <div class="form-group">
                <h3>Changer le mot de passe</h3>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-success" type="submit" value="Valider" />
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}
