.grid{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, minmax(1fr, 200px));
	grid-gap: 10px;
	color: #444;
}
.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.titrepage{
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gauge-wrapper1{
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}
.gauge-wrapper2{
	grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
}
.chart-container{
	grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 8;
}
.panel-group{
	grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 11;
}

