@media (min-width: 600px) {
    .titrepage {
        border: solid 2px black;
        border-radius: 20px;
        font-size: 78px;
        text-align: center;
        background-color: #00b1eb;
    }
    .logo{
        margin-top: -10px;
        height: 50px;
        width: 130px;
        }
    .navbar-nav .icone{
      margin-right: 110px;
    }
    .contentpage{
      padding-top: 70px;
    }
}
@media (max-width: 600px) {
    .titrepage {
        border: solid 2px black;
        border-radius: 20px;
        font-size: 38px;
        text-align: center;
        background-color: #00b1eb;
    }
    .logo{
        height: 30px;
        width: 75px;
    }
    .collapse li{
        display:inline-block;
    }
    .contentpage{
      padding-top: 10px;
    }
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color:  #edf4f4 ;
}
.contentpage{
  padding-top: 70px;
}

.nav img{
    height: 36px;
    width: 36px;
}
.navbar{
    background-color: #B0B0B0;
    min-height: 70px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.headpage {
    padding-top: 10px;
    padding-bottom: 50px;
}

.cadrethumb {
    border: solid black 1px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.listthumb {
    padding-top: 15px;
}

.menu {
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}

.search input {
    width: 100%;
    padding-top: 10px;
}

.recherche {
    padding-bottom: 40px;
}

.detail {
    margin-right: 15px;
}

.startsurvey {
    margin-top: 80px;
    margin-left: 15px;
}
input#username{
    width:100%;
}
input#password{
    width:100%;
}

.loginbox {
    padding-top: 100px;
    font-size: 30px;
}

.etoile {
    border: solid black 1px;
}

.notes-echelle li {
    display: inline-block;
}

.question {
    margin-bottom: 8px;
}

.comment input {
    width: 100%;
}

.comment textarea {
    width: 100%;
    height: 80px;
}

/*graph Bar*/

.chart-container {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 4px;
}

.gauge-title, .gauge-target {
    text-align: center;
}

.gauge-target {
    color: gray;
    margin-top: 5px;
}

.gauge-wrapper {
    width: 300px;
}

.titleRegistration {
    text-align: center;
    padding-bottom: 200px;
}

.main {
    margin: 50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Montserrat', cursive;
}

h3 {
    text-align: center;
}

.champs{
    padding-left: 70px;
}
.newcollab{
    padding-bottom: 30px;
}
.updatinguser{
    padding-top: 100px;
}
.gif{
    width: 400px;
    height: 400px;
}
.boutonupdate{
    margin-top: -5px;
    height: 30px;
}
