{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container-fluid">

    <div class="loginbox">
        <div class="row">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}


                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <label for="username">Pseudo/Email</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               required="required"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <label for="password">Mot de passe</label>
                    </div>
                    <div class="col-md-2">
                        <input type="password" id="password" name="_password" required="required"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">Rester connecté</label>

                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Se connecter" style="width: 100% ; font-size: 30px"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
