{% extends 'baseStaff.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="contentpage">
        <div class="row">

            <div class="col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">

                        <div class='gauge-wrapper'>
                            <div class='gauge-target'>
                                Satisfaction Mission
                            </div>
                            <div>
                                <canvas id='foo'/>
                            </div>
                            <div class='gauge-title'>
                                <p>{{ totalpermi }}% total</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5">
                        <div class='gauge-wrapper'>
                            <div class='gauge-target'>
                                Satisfaction Apside
                            </div>
                            <div>
                                <canvas id='foo2'/>
                            </div>
                            <div class='gauge-title'>
                                <p>{{ totalperap }}% total</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-offset-3 col-md-6">

                        <div class="chart-container">
                            <canvas id="line-chart"></canvas>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4 col-sm-6">


                {% for survey in surveys %}

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ survey.id }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ survey.id }}" aria-expanded="true"
                                   aria-controls="collapse{{ survey.id }}">
                                    Enquête du {{ survey.surveydate|date('d-m-Y') }}
                                    {% if survey.percentmi == 0 %}
                                        (Enquête non remplie)
                                    {% endif %}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ survey.id }}" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading{{ survey.id }}">
                            <div class="panel-body">
                                <div class="objectifs">
                                    <h5>Commentaire Mission:</h5>
                                    <span>{{ survey.commentsmi }}</span>
                                    <h5>Commentaire Apside:</h5>
                                    <span>{{ survey.commentsap }}</span>
                                </div>
                                <h4>Satisfaction</h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span>Mission</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{ survey.percentmi }}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{ survey.percentmi }}%;">
                                                {{ survey.percentmi }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span>Apside</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{ survey.percentap }}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{ survey.percentap }}%;">
                                                {{ survey.percentap }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="{{ path('detail', {'id': survey.id}) }}" type="button"
                                       class="detail btn btn-primary btn-xs pull-right">
                                        Voir le détail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                        <div class="row">
                            <a href="{{ path("employee") }}"
                               type="button" class="btn btn-primary btn-lg startsurvey">Retour</a>
                        </div>
                        <div class="row updatinguser">
                            <div class="col-md-12">
                                <div class="form-group">


                                <form action="{{path('listsurveys', {'id': user.id})}}" method="post">
                                {{form_start(form)}}
                                <div class="row">
                                    <div class="col-md-2">
                                        {{form_label(form.nom)}}
                                    </div>
                                    <div class="col-md-8">
                                        {{form_widget(form.nom)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{form_label(form.prenom)}}
                                    </div>
                                    <div class="col-md-8">
                                        {{form_widget(form.prenom)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{form_label(form.agence)}}
                                    </div>
                                    <div class="col-md-8">
                                        {{form_widget(form.agence)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="btn btn-primary" type="submit" value="update" />
                                    </div>
                                </div>
                                {{form_end(form)}}
                                </form>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                              <form method="post">
                              <input type="hidden" value="{{user.id}}" name="id" />
                              <input class="btn btn-danger" name="aurevoir" type="submit" value="Archiver" />
                              </form>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>

    <script>
        var ctx = $("#line-chart");
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [0,
                    {% for survey in surveys %}
                    {{ survey.surveydate|date('Y') }} ,
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: "Mission",
                        backgroundColor: "#337AB7",
                        borderWidth: 1,
                        borderColor: "#337AB7",
                        fill: false,
                        data: [
                            {% for evolutionmi in evolutionmis %}
                            {{ evolutionmi }} ,
                            {% endfor %}
                        ]
                    },
                    {
                        label: "Apside",
                        backgroundColor: "#090",
                        borderWidth: 1,
                        borderColor: "#090",
                        fill: false,
                        data: [
                            {% for evolutionap in evolutionaps %}
                            {{ evolutionap }} ,
                            {% endfor %}
                        ]
                    }
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{stacked: false}]
                }
            }
        });
    </script>
    <script>
        var opts = {

            angle: 0,
            lineWidth: 0.7,
            pointer: {
                length: 0.5,
                strokeWidth: 0.049,
                color: '#000000'
            },
            colorStart: '#337AB7',
            colorStop: '#337AB7',
        };
        var target = document.getElementById('foo');
        var gauge = new Gauge(target).setOptions(opts);
        gauge.maxValue = 100;
        gauge.animationSpeed = 50;
        gauge.set({{ totalpermi }});
    </script>
    <script>
        var opts = {

            angle: 0,
            lineWidth: 0.7,
            pointer: {
                length: 0.5,
                strokeWidth: 0.049,
                color: '#000000'
            },
            colorStart: '#337AB7',
            colorStop: '#337AB7',
        };
        var target = document.getElementById('foo2');
        var gauge = new Gauge(target).setOptions(opts);
        gauge.maxValue = 100;
        gauge.animationSpeed = 50;
        gauge.set({{ totalperap }});
    </script>

{% endblock %}
