{% extends 'baseStaff.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <div class="contentpage">

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <table class="table table-hover" id="example">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Agence</th>
                <th>Date d'embauche</th>
                <th>Dernière enquête</th>
                <th>Statut</th>
                <th>Actions</th>
                <th>Entretiens</th>
              </tr>
            </thead>
            <tbody>

              {% for employee in employees %}

                <tr>
                  <td>
                      <a href="{{ path('listsurveys', {'id' : employee.id}) }}">
                      {{ employee.nom }}
                    </a>
                  </td>
                  <td>{{ employee.prenom }}</td>
                  <td>{{employee.agence}}</td>
                  <td>{{ employee.startdate|date('d-m-Y') }}</td>
                  <td>
                    {% for recentDate in recentDates %}
                      {% if recentDate.user == employee.id %}
                        {{ recentDate.1|date('d-m-Y') }}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>
                      {% for listToComplete in listToCompletes %}
                          {% if listToComplete.id == employee.id %}
                            <span>à compléter</span>
                          {% endif %}
                      {% endfor %}
                      {% for recentDate in recentDates %}
                        {% if recentDate.user == employee.id %}
                        {% if date(recentDate.1) > date('-60days')  %}
                          <span>complétée</span>
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                  </td>
                  <td>

                    {% for recentDate in recentDates %}
                        {% if recentDate.user == employee.id %}
                            {% if (date(recentDate.1) > date('-60days')) %}

                                <a class="btn btn-success" href="{{ path('formStaff', {'user' : employee.id}) }}">Effectuer l'entretien</a>

                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for listToComplete in listToCompletes %}
                        {% if listToComplete.id == employee.id %}
                            <form method="post">
                            <input type="hidden" value="{{employee.email}}" name="email" />
                            <input class="btn btn-danger" name="rappel" type="submit" value="Relance" />
                            </form>
                        {% endif %}
                    {% endfor %}
                  </td>
                  <td>
                    <a href="{{ path('formStaff', {'user' : employee.id}) }}">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </tbody>

      <!-- Modal stats -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Satisfaction</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  Satisfaction Mission
                  <div class="progress-bar" role="progressbar"
                        aria-valuenow="{{ allpermi }}"
                        aria-valuemin="0"
                        aria-valuemax="100" style="width: {{ allpermi }}%;">

                  <p>{{ allpermi }}%</p>
                  </div>
                </div>

                <div class="col-md-6">
                  Satisfaction Apside
                  <div class="progress-bar" role="progressbar"
                        aria-valuenow="{{ allperap }}"
                        aria-valuemin="0"
                        aria-valuemax="100" style="width: {{ allperap }}%;">

                  <p>{{ allperap }}%</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <br>
                  <h3>Evolution de la satisfaction générale</h3>
                  <br>
                  <div class="chart-container">
                    <canvas id="line-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal archive -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Liste des collaborateurs archivés:</h4>
            </div>
            <div class="modal-body">
              <table class="table table-hover" id="example">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Entretiens</th>
                    <th>Réincorporer</th>
                  </tr>
                </thead>
                <tbody>

                  {% for employeeArchived in employeesArchived %}
                    <tr>
                      <td>
                          <a href="{{ path('listsurveys', {'id' : employeeArchived.id}) }}">
                              {{ employeeArchived.nom }}
                          </a>
                      </td>
                      <td>{{ employeeArchived.prenom }}</td>
                      <td>
                        <a href="{{ path('formStaff', {'user' : employeeArchived.id}) }}">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td>
                        <form method="post">
                        <input type="hidden" value="{{employeeArchived.id}}" name="id" />
                        <input class="btn btn-success" name="hello" type="submit" value="Réincorporer" />
                        </form>
                      </td>
                    </tr>
                  {% endfor %}

            </div>

          </div>
        </div>
      </div>

    {% endblock %}

    {% block javascripts %}
      {{ parent() }}
      <script>
        $(document).ready(function() {
          $('#example').DataTable({
              paging: false
          });
        });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>

      <script>
        var ctx = $("#line-chart");
        var lineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: [
            {% for year, totalmiyear in totalmiyears %}
                {{ year }},
              {% endfor %}
            ],
            datasets: [
              {
                label: "Mission",
                backgroundColor: "#337AB7",
                borderWidth: 1,
                borderColor: "#337AB7",
                fill: false,
                data: [{% for totalmiyear in totalmiyears %}
                    {{ totalmiyear }},
                  {% endfor %}]
              }, {
                label: "Apside",
                backgroundColor: "#090",
                borderWidth: 1,
                borderColor: "#090",
                fill: false,
                data: [{% for totalapyear in totalapyears %}
                    {{ totalapyear }},
                  {% endfor %}]
              }
            ]
          },
          options: {
            maintainAspectRatio: false,
            scales: {
              yAxes: [
                {
                  stacked: false
                }
              ]
            }
          }
        });
      </script>

    {% endblock %}
