{% extends 'baseStaff.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="contentpage">
          <a class="btn btn-default" type="button" href="{{path('employee')}}">Back</a>

          <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwelve">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                    Récapitulatif global : {{user.prenom}} {{user.nom}}
                  </a>
                </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Date</th>
                            <th>Salaire fixe</th>
                            <th>Prime J.</th>
                            <th>Salaire mensuel</th>
                            <th>Salaire Annuel</th>
                            <th>Salaire A. avec frais</th>
                            <th>Coopt</th>
                            <th>App. Aff.</th>
                            <th>Autres</th>
                            <th>Heures supp.</th>
                            <th>Astreintes</th>
                            <th>Participation</th>
                            <th>Salaire packagé</th>
                            <th>Variation</th>
                        </tr>

                        {% set previousSalaire = "" %}
                    {% for formStaff in formStaffs %}

                    <tr>
                      <td title="{{formStaff.comments}}">{{ formStaff.dateStaff|date('d-m-Y') }}</td>
                      <td>{{ formStaff.salFix }} </td>
                      <td>{{ formStaff.primeJ }} </td>
                      <td>{{ formStaff.salFix + (formStaff.primeJ)*18.08 }} </td>
                      <td>{{ (formStaff.salFix * 12.25) + (formStaff.primeJ * 217) }} </td>
                      <td>{{ (formStaff.salFix * 12.25) + (formStaff.primeJ * 217) + 2256.8 }} </td>
                      <td>{{ formStaff.coopt }} </td>
                      <td>{{ formStaff.appAff }} </td>
                      <td>{{ formStaff.autres }} </td>
                      <td>{{ formStaff.hSupp }}</td>
                      <td>{{ formStaff.astreintes }}</td>
                      <td>{{ formStaff.participation }}</td>
                      <td title="(salaire fixe *12.25) + (prime journalière * jours travaillés) + (indemnités jours * jours travaillés) + primes diverses">{{ (formStaff.salFix * 12.25) + (formStaff.primeJ * 217)
                      + 2256.8 + formStaff.coopt + formStaff.appAff + formStaff.autres
                      + formStaff.hSupp + formStaff.astreintes + formStaff.participation}}</td>
                      <td>{% if previousSalaire != null %}
                          {% set variationSalaire = ((formStaff.salFix / previousSalaire)-1)*100 %}
                           {{ variationSalaire }} %
                         {% endif %}
                      </td>
                    </tr>
                        {% set previousSalaire = formStaff.salFix %}
                    {% endfor %}

                    </table>

                </div>
              </div>
            </div>
          </div>

            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">

                    {% if formStaffs != null %}
                        {% for formStaff in formStaffs %}
                            <div class="panel-heading" role="tab" id="heading{{ formStaff.id }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion2"
                                       href="#collapse{{ formStaff.id }}"
                                       aria-expanded="false" aria-controls="collapse{{ formStaff.id }}">
                                        Entretien du {{ formStaff.dateStaff|date('d-m-Y') }}
                                    </a>
                                    <a type="button" class="btn btn-success pull-right boutonupdate" href="{{ path('updateFormStaff', {'id': formStaff.id})}}">Mettre à jour</a>
                                </h4>
                            </div>
                            <div id="collapse{{ formStaff.id }}" class="panel-collapse collapse" role="tablist"
                                 aria-labelledby="heading{{ formStaff.id }}">
                                <div class="panel-body">
                                    <div class="form-group">

                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseOne{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseOne{{ formStaff.id }}">
                                                            Salaire
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne{{ formStaff.id }}"
                                                     class="panel-collapse collapse in" role="tabpanel"
                                                     aria-labelledby="headingOne{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                Salaire Fixe :{{ formStaff.salFix }} €
                                                            </div>

                                                            <div class="col-md-2">
                                                                Prime Journalière :{{ formStaff.primeJ }} €
                                                            </div>

                                                            <div class="col-md-2">
                                                                Jours travaillés :{{ formStaff.joursT }}
                                                            </div>
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseTwo{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseTwo{{ formStaff.id }}">
                                                            Primes
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo{{ formStaff.id }}" class="panel-collapse collapse"
                                                     role="tabpanel"
                                                     aria-labelledby="headingTwo{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Prime cooptation :{{ formStaff.coopt }} €
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Prime apport d\'affaires :{{ formStaff.appAff }} €
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Autres primes :{{ formStaff.autres }} €
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Heures supp. :{{ formStaff.hSupp }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Astreintes :{{ formStaff.astreintes }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Participation :{{ formStaff.participation }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab"
                                                     id="headingThree{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseThree{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseThree{{ formStaff.id }}">
                                                            Syntec
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree{{ formStaff.id }}"
                                                     class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="headingThree{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Position :{{ formStaff.position }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Coefficient :{{ formStaff.coef }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Qualification :{{ formStaff.qualif }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Statut :{{ formStaff.statut }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Taux horaire :{{ formStaff.tauxH }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Valeur point Syntec :{{ formStaff.valeurP }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Minima syntec :{{ formStaff.minima }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab"
                                                     id="headingFour{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseFour{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseFour{{ formStaff.id }}">
                                                            Formation
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFour{{ formStaff.id }}" class="panel-collapse collapse"
                                                     role="tabpanel"
                                                     aria-labelledby="headingFour{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Date :{{ formStaff.date|date('d-m-Y') }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Coût :{{ formStaff.cout }} €
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Nombre de jours :{{ formStaff.nbJours }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Initiative :{{ formStaff.initiative }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Contenu :{{ formStaff.contenu }}
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Mode :{{ formStaff.mode }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-offset-1 col-md-3">
                                                                Contrepartie :{{ formStaff.contrepartie }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab"
                                                     id="headingFive{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseFive{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseFive{{ formStaff.id }}">
                                                            Bilan de compétences
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFive{{ formStaff.id }}" class="panel-collapse collapse"
                                                     role="tabpanel"
                                                     aria-labelledby="headingFive{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                Ancienneté/poste (adéquation poste et anncienneté ainsi
                                                                que capacité à tenir ce poste
                                                            </div>
                                                            <div class="col-md-1">
                                                                {{ formStaff.ancPost }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ formStaff.ancPostCom }}
                                                            </div>
                                                            <div class="col-md-2">
                                                                Compétences Techniques (spectre de comp. Techn. et
                                                                fonctionnelle et pro-action personnelle
                                                            </div>
                                                            <div class="col-md-1">
                                                                {{ formStaff.compTech }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ formStaff.compTechCom }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                Mobilité (pendant les périodes d\'IC, ponctuelle)
                                                            </div>
                                                            <div class="col-md-1">
                                                                {{ formStaff.mobil }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ formStaff.mobilCom }}
                                                            </div>
                                                            <div class="col-md-2">
                                                                Participation Apside TOP (chiffrage, avant-vente,
                                                                transfert de comp., org° évènements Aps. TOP…)
                                                            </div>
                                                            <div class="col-md-1">
                                                                {{ formStaff.participA }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ formStaff.participACom }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                Motivation/Implication (niveau d\'implication sur
                                                                AT/Forfait, retour client, cpte rendu de mission)
                                                            </div>
                                                            <div class="col-md-1">
                                                                {{ formStaff.motivImpli }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ formStaff.motivImpliCom }}
                                                            </div>
                                                            <div class="col-md-2">
                                                                Adhésion Apside TOP (cooptat°, apport d\'affaires,
                                                                réseaux, parrainage nouveaux, respect règle…)
                                                            </div>
                                                            <div class="col-md-1">
                                                                {{ formStaff.adhesA }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ formStaff.adhesACom }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingSix{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseSix{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseSix{{ formStaff.id }}">
                                                            Commentaires Apside TOP
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseSix{{ formStaff.id }}" class="panel-collapse collapse"
                                                     role="tabpanel"
                                                     aria-labelledby="headingSix{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-offset-2 col-md-8">
                                                                {{ formStaff.comments }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab"
                                                     id="headingSeven{{ formStaff.id }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion"
                                                           href="#collapseSeven{{ formStaff.id }}"
                                                           aria-expanded="true"
                                                           aria-controls="collapseSeven{{ formStaff.id }}">
                                                            Objectifs
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseSeven{{ formStaff.id }}"
                                                     class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="headingSeven{{ formStaff.id }}">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-offset-2 col-md-8">
                                                                {{ formStaff.objectifs }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}

                    <div class="panel-heading" role="tab" id="headingTen">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen"
                               aria-expanded="false" aria-controls="collapseTen">
                                Entretien en cours
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse in" role="tablist"
                         aria-labelledby="headingTen">
                        <div class="panel-body">
                            <div class="form-group">
                                {{ form_start(form) }}

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapseOne"
                                                   aria-expanded="true" aria-controls="collapseOne">
                                                    Salaire
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-2 champs">
                                                        {{ form_label(form.salFix, 'Salaire Fixe') }}
                                                        {{ form_errors(form.salFix) }}
                                                    </div>

                                                    <div class="col-md-2">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.salFix, { 'attr': {'value': lastMeeting.0.salFix } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.salFix) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-2 champs">
                                                        {{ form_label(form.primeJ, 'Prime Journalière') }}
                                                        {{ form_errors(form.primeJ) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.primeJ, { 'attr': {'value': lastMeeting.0.primeJ } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.primeJ) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-2 champs">
                                                        {{ form_label(form.joursT, 'Jours travaillés') }}
                                                        {{ form_errors(form.joursT) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.joursT, { 'attr': {'value': lastMeeting.0.joursT } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.joursT) }}
                                                        {% endif %}
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseTwo"
                                                   aria-expanded="true" aria-controls="collapseTwo">
                                                    Primes
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.coopt, 'Prime cooptation') }}
                                                        {{ form_errors(form.coopt) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.coopt) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.appAff, 'Prime apport d\'affaires') }}
                                                        {{ form_errors(form.appAff) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.appAff) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.autres, 'Autres primes') }}
                                                        {{ form_errors(form.autres) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.autres) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.hSupp, 'Heures supp.') }}
                                                        {{ form_errors(form.hSupp) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.hSupp) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.astreintes, 'Astreintes') }}
                                                        {{ form_errors(form.astreintes) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.astreintes) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.participation, 'Participation') }}
                                                        {{ form_errors(form.participation) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.participation) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseThree"
                                                   aria-expanded="true" aria-controls="collapseThree">
                                                    Syntec
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.position, 'Position') }}
                                                        {{ form_errors(form.position) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.position, { 'attr': {'value': lastMeeting.0.position } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.position) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.coef, 'Coefficient') }}
                                                        {{ form_errors(form.coef) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.coef, { 'attr': {'value': lastMeeting.0.coef } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.coef) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.qualif, 'Qualification') }}
                                                        {{ form_errors(form.qualif) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.qualif, { 'attr': {'value': lastMeeting.0.qualif } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.qualif) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.statut, 'Statut') }}
                                                        {{ form_errors(form.statut) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.statut, { 'attr': {'value': lastMeeting.0.statut } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.statut) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.tauxH, 'Taux horaire') }}
                                                        {{ form_errors(form.tauxH) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.tauxH, { 'attr': {'value': lastMeeting.0.tauxH } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.tauxH) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.valeurP, 'Valeur point Syntec') }}
                                                        {{ form_errors(form.valeurP) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.valeurP, { 'attr': {'value': lastMeeting.0.valeurP } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.valeurP) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.minima, 'Minima syntec') }}
                                                        {{ form_errors(form.minima) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% if lastMeeting != null %}
                                                        {{ form_widget(form.minima, { 'attr': {'value': lastMeeting.0.minima } }) }}
                                                        {% else %}
                                                        {{ form_widget(form.minima) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseFour"
                                                   aria-expanded="true" aria-controls="collapseFour">
                                                    Formation
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.date, 'Date') }}
                                                        {{ form_errors(form.date) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.date) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.cout, 'Coût') }}
                                                        {{ form_errors(form.cout) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.cout) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.nbJours, 'Nombre de jours') }}
                                                        {{ form_errors(form.nbJours) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.nbJours) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.initiative, 'Initiative') }}
                                                        {{ form_errors(form.initiative) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.initiative) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.contenu, 'Contenu') }}
                                                        {{ form_errors(form.contenu) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.contenu) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.mode, 'Mode') }}
                                                        {{ form_errors(form.mode) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.mode) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(form.contrepartie, 'Contrepartie') }}
                                                        {{ form_errors(form.contrepartie) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.contrepartie) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseFive"
                                                   aria-expanded="true" aria-controls="collapseFive">
                                                    Bilan de compétences
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        {{ form_label(form.ancPost, 'Ancienneté/poste (adéquation poste et anncienneté ainsi que capacité à tenir ce poste)') }}
                                                        {{ form_errors(form.ancPost) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.ancPost) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.ancPostCom) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ form_label(form.compTech, 'Compétences Techniques (spectre de comp. Techn. et fonctionnelle et pro-action personnelle)') }}
                                                        {{ form_errors(form.compTech) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.compTech) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.compTechCom) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        {{ form_label(form.mobil, 'Mobilité (pendant les périodes d\'IC, ponctuelle)') }}
                                                        {{ form_errors(form.mobil) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.mobil) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.mobilCom) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ form_label(form.participA, 'Participation Apside TOP (chiffrage, avant-vente, transfert de comp., org° évènements Aps. TOP…)') }}
                                                        {{ form_errors(form.participA) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.participA) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.participACom) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        {{ form_label(form.motivImpli, 'Motivation/Implication (niveau d\'implication sur AT/Forfait, retour client, cpte rendu de mission)') }}
                                                        {{ form_errors(form.motivImpli) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.motivImpli) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.motivImpliCom) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ form_label(form.adhesA, 'Adhésion Apside TOP (cooptat°, apport d\'affaires, réseaux, parrainage nouveaux, respect règle…)') }}
                                                        {{ form_errors(form.adhesA) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(form.adhesA) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.adhesACom) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseSix"
                                                   aria-expanded="true" aria-controls="collapseSix">
                                                    Commentaires Apside TOP
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingSix">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-8">
                                                        {{ form_widget(form.comments) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSeven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseSeven"
                                                   aria-expanded="true" aria-controls="collapseSeven">
                                                    Objectifs
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingSeven">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-8">
                                                        {{ form_widget(form.objectifs) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_widget(form.save) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>

{% endblock %}
