{% extends 'baseStaff.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="contentpage">

            <div class="panel-heading" role="tab" id="headingTen">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen"
                               aria-expanded="false" aria-controls="collapseTen">
                                Entretien du {{formStaff.dateStaff|date('d-m-Y')}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse in" role="tablist"
                         aria-labelledby="headingTen">
                        <div class="panel-body">
                            <div class="form-group">
                                {{ form_start(editForm) }}

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapseOne"
                                                   aria-expanded="true" aria-controls="collapseOne">
                                                    Salaire
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-1 champs">
                                                        {{ form_label(editForm.salFix, 'Salaire Fixe') }}
                                                        {{ form_errors(editForm.salFix) }}
                                                    </div>

                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.salFix) }}
                                                    </div>
                                                    <div class="col-md-1 champs">
                                                        {{ form_label(editForm.primeJ, 'Prime Journalière') }}
                                                        {{ form_errors(editForm.primeJ) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.primeJ) }}
                                                    </div>
                                                    <div class="col-md-1 champs">
                                                        {{ form_label(editForm.joursT, 'Jours travaillés') }}
                                                        {{ form_errors(editForm.joursT) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.joursT) }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseTwo"
                                                   aria-expanded="true" aria-controls="collapseTwo">
                                                    Primes
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.coopt, 'Prime cooptation') }}
                                                        {{ form_errors(editForm.coopt) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.coopt) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.appAff, 'Prime apport d\'affaires') }}
                                                        {{ form_errors(editForm.appAff) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.appAff) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.autres, 'Autres primes') }}
                                                        {{ form_errors(editForm.autres) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.autres) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.hSupp, 'Heures supp.') }}
                                                        {{ form_errors(editForm.hSupp) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.hSupp) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.astreintes, 'Astreintes') }}
                                                        {{ form_errors(editForm.astreintes) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.astreintes) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.participation, 'Participation') }}
                                                        {{ form_errors(editForm.participation) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.participation) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseThree"
                                                   aria-expanded="true" aria-controls="collapseThree">
                                                    Syntec
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.position, 'Position') }}
                                                        {{ form_errors(editForm.position) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.position) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.coef, 'Coefficient') }}
                                                        {{ form_errors(editForm.coef) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.coef) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.qualif, 'Qualification') }}
                                                        {{ form_errors(editForm.qualif) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.qualif) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.statut, 'Statut') }}
                                                        {{ form_errors(editForm.statut) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.statut) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.tauxH, 'Taux horaire') }}
                                                        {{ form_errors(editForm.tauxH) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.tauxH) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.valeurP, 'Valeur point Syntec') }}
                                                        {{ form_errors(editForm.valeurP) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.valeurP) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.minima, 'Minima syntec') }}
                                                        {{ form_errors(editForm.minima) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.minima) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseFour"
                                                   aria-expanded="true" aria-controls="collapseFour">
                                                    Formation
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.date, 'Date') }}
                                                        {{ form_errors(editForm.date) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.date) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.cout, 'Coût') }}
                                                        {{ form_errors(editForm.cout) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.cout) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.nbJours, 'Nombre de jours') }}
                                                        {{ form_errors(editForm.nbJours) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.nbJours) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.initiative, 'Initiative') }}
                                                        {{ form_errors(editForm.initiative) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.initiative) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.contenu, 'Contenu') }}
                                                        {{ form_errors(editForm.contenu) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.contenu) }}
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.mode, 'Mode') }}
                                                        {{ form_errors(editForm.mode) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.mode) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        {{ form_label(editForm.contrepartie, 'Contrepartie') }}
                                                        {{ form_errors(editForm.contrepartie) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.contrepartie) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseFive"
                                                   aria-expanded="true" aria-controls="collapseFive">
                                                    Bilan de compétences
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        {{ form_label(editForm.ancPost, 'Ancienneté/poste (adéquation poste et anncienneté ainsi que capacité à tenir ce poste)') }}
                                                        {{ form_errors(editForm.ancPost) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.ancPost) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.ancPostCom) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ form_label(editForm.compTech, 'Compétences Techniques (spectre de comp. Techn. et fonctionnelle et pro-action personnelle)') }}
                                                        {{ form_errors(editForm.compTech) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.compTech) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.compTechCom) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        {{ form_label(editForm.mobil, 'Mobilité (pendant les périodes d\'IC, ponctuelle)') }}
                                                        {{ form_errors(editForm.mobil) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.mobil) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.mobilCom) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ form_label(editForm.participA, 'Participation Apside TOP (chiffrage, avant-vente, transfert de comp., org° évènements Aps. TOP…)') }}
                                                        {{ form_errors(editForm.participA) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.participA) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.participACom) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        {{ form_label(editForm.motivImpli, 'Motivation/Implication (niveau d\'implication sur AT/Forfait, retour client, cpte rendu de mission)') }}
                                                        {{ form_errors(editForm.motivImpli) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.motivImpli) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.motivImpliCom) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ form_label(editForm.adhesA, 'Adhésion Apside TOP (cooptat°, apport d\'affaires, réseaux, parrainage nouveaux, respect règle…)') }}
                                                        {{ form_errors(editForm.adhesA) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_widget(editForm.adhesA) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_widget(editForm.adhesACom) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseSix"
                                                   aria-expanded="true" aria-controls="collapseSix">
                                                    Commentaires Apside TOP
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingSix">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-8">
                                                        {{ form_widget(editForm.comments) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSeven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseSeven"
                                                   aria-expanded="true" aria-controls="collapseSeven">
                                                    Objectifs
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingSeven">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-offset-2 col-md-8">
                                                        {{ form_widget(editForm.objectifs) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_widget(editForm.save) }}
                                {{ form_end(editForm) }}
                            </div>
                        </div>
                    </div>

        </div>
    </div>

{% endblock %}
