{% extends 'baseStaff.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="contentpage">
            

            <form method="post" action="{{ path('sendMailStaff')}}">
                <h2>Une augmentation de salaire a été détectée:  + {{ diff }} € </h2>
                <fieldset>

                    <legend>Veuillez sélectionner les destinataires pour les prévenir de celle-ci</legend>

                    <input type="hidden" value="{{ diff }}" name="diff">
                    <input type="hidden" value="{{ user }}" name="user">

                    {% for mailStaff in mailStaffs %}
                        <div>
                            <input type="checkbox" id="{{ mailStaff }}" name="interest{{ mailStaff }}" value="{{ mailStaff }}">
                            <label for="{{ mailStaff }}">{{ mailStaff }}</label>
                        </div>
                    {% endfor %}
                    <div>
                        <label for="date">Date de prise d'effet: </label>
                        <input type="date" id="date" name="date">
                    </div>

                    <div>
                        <button type="submit2">Envoyer</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
{% endblock %}
