{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-3"

            <div class="form-group">
                <h3>Créer un nouveau collaborateur</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Ajouter" />
                {{ form_end(form) }}

                <a href="{{ path('employee') }}" class="btn btn-success">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
